
{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}


<div class="flex flex-col justify-evenly min-h-screen">





<section id="section_home" class="max-w-screen py-8 relative min-h-[300px] overflow-hidden mb-8 overflow-y-hidden ">

  <div
          style=" background-image: url({% static 'images/solf.jpg' %}) "
        class="w-full min-h-[275px] bg-cover bg-center">
        <div class="w-full min-h-[500px] flex  justify-center items-center
             bg-blue-600/30 backdrop-brightness-75">
           <div class="flex flex-col items-center text-center">
                  <span class="text-white text-4xl md:text-5xl xl:text-6xl w-full font-bold text-center">Work IN Music</span>
            <p class="font-semibold text-2xl md:text-3xl text-white">Notre blog</p>
            </div>
        </div>
    </div>

  </section>







  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto hidden max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Notre Blog</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
        </div>
        {% if taille == 0 %}
        <div class="flex justify-center items-center min-h-[600px]">
            <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl"> AUCUN POST DISPONIBLE POUR LE MOMENT</h1>

        </div>
        {% else %}
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-flow-row 2xl:grid-cols-5 mx-auto items-center justify-center">

            {% for post in posts %}
            <article class="p-6 hover:ring-2  hover:ring-[#7CFFCE] focus:ring-2 focus:ring-[#00D1FF]     focus:ring-[#7CFFCE] bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-between items-center mb-5 text-gray-500">
                    <span class="bg-[#00d1ff] text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                        {{post.type}}
                    </span>
                    <span class="text-sm">{{ post.date | date:"d/m/y" }}</span>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="{% url 'blog_unique' post.slug %}">{{post.title}}</a></h2>
                <p class="mb-5 font-light text-gray-500 dark:text-gray-400">{{ post.description }}</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full" src="{% static 'images/logo.png' %}" alt='{{ post.author }}' />
                        <span class="font-medium dark:text-white">
                            {{ post.author }}
                        </span>
                    </div>
                    <a href="{% url 'blog_unique' post.slug %}" class="inline-flex items-center font-medium  text-[#00d1ff]  dark:text-primary-500 hover:underline">
                        Lire plus
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </article>

            {% endfor %}
             </div>
        {% endif %}
    </div>
  </section>














</div>


{% endblock content %}