{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div>

<div class="">





<section id="section_home" class="max-w-screen py-8 relative min-h-[300px] overflow-hidden mb-8 overflow-y-hidden ">

  <div
          style=" background-image: url({% static 'images/solf.jpg' %}) "
        class="w-full min-h-[275px] bg-cover bg-center">
        <div class="w-full min-h-[500px] flex  justify-center items-center
             bg-blue-600/30 backdrop-brightness-75">
           <div class="flex flex-col items-center text-center">
                  <span class="text-white text-4xl md:text-5xl xl:text-6xl w-full font-bold text-center">Contactez-Nous</span>
            <p class="font-semibold text-2xl md:text-3xl text-white">Prendre contact avec notre équipe</p>
            </div>
        </div>
    </div>

  </section>


  <section class="bg-white dark:bg-gray-900 mx-auto px-5">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">



           <form action="{% url 'sent' %}" method="post"  enctype="multipart/form-data" class="space-y-8">
                {% csrf_token %}
                  {% if message %}

	<div class="alert alert-info" id="newsletter-message" role="alert">

        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
  <span class="font-medium">Succès !</span> {{ message }}
</div>
</div>


{% endif %}
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nom</label>
                <input name="nom" type="text" id="nlae" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="DOE" required>
            </div>

            <div>
                <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Prénoms</label>
                <input name="prenom" type="text" id="prenom" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="John " required>
            </div>

            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">E-mail</label>
                <input name="" type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="johndoe@gmail.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Objet</label>
                <input name="sujet" type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="De quoi voulez vous discutez" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Message</label>
                <textarea name="message" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Laissez votre message..."></textarea>
            </div>



<div class="flex flex-col items-start justify-center mb-2 w-full">
    <span>Pièces Jointes <span class="text-red-700">* optionnel</span></span>

<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Uploader un fichier comme pièce jointe</label>
<input name="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">


</div>

            <div class="w-full flex justify-center items-center">


            <button style="background-color: #00D1FF " type="submit" class="py-3 px-5 text-md font-medium text-center text-white rounded-lg bg-[#00D1FF] sm:w-full hover:bg-[#00D1FF] focus:ring-4 focus:outline-none  ">Envoyez</button>


            </div>

   </form>
    </div>
  </section>

  





  </div>



</div>




{% endblock content %}