{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div>


  <section id="section_home" class="max-w-screen py-8 relative min-h-[300px] overflow-hidden mb-8 overflow-y-hidden ">

  <div
          style=" background-image: url({% static 'images/us.jpg' %}) "
        class="w-full min-h-[275px] bg-cover bg-center">
        <div class="w-full min-h-[500px] flex  justify-center items-center
             bg-blue-600/30 backdrop-brightness-75">
           <div class="flex flex-col items-center text-center">
                  <span class="text-white text-4xl md:text-5xl xl:text-6xl w-full font-bold text-center">Work IN Music</span>
            <p class="font-semibold text-2xl md:text-3xl text-white">Notre Démarche RSE</p>
            </div>
        </div>
    </div>

  </section>





  <section class="flex-1 mb-5 items-center  px-8 md:px-14  flex-col justify-center ">
    <h1 class="font-bold text-2xl md:text-3xl text-center mb-5"></h1>
      <!-- Swiper -->


<div class="md:w-[75%] mx-auto min-h-[100px]">

<div id="accordion-collapse" class="border-2  border-black rounded-md hover:border-[#00D1FF]" data-accordion="collapse">
  <h2 id="accordion-collapse-heading-1" class="text-xl sm:text-2xl md:text-3xl xl:text-4xl font-bold">


    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
      <span style="  font-family: 'proxima_nova_ltsemibold';">Impacts environnementaux  </span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border  border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-800 text-md md:text-xl text-justify dark:text-gray-400">WIM s'engage résolument en faveur du développement durable en mettant en place un système novateur visant à réduire significativement notre consommation d'énergie. Conscients de l'importance cruciale de cette démarche, nous œuvrons pour intégrer des pratiques respectueuses de l'environnement au cœur de notre modèle d'affaires. En favorisant des solutions éco-responsables, nous cherchons à minimiser notre empreinte carbone tout en offrant des produits et services de haute qualité. Cette initiative reflète notre engagement envers la préservation de notre planète et notre volonté de contribuer positivement aux enjeux environnementaux actuels.<br/><br/>
Pour cela, nous allons favoriser des outils et logiciels à faible consommation, et utiliser l’IA comme vecteur d’automatisation, afin de réduire notre emprunte et le gaspillage, notamment de papier pour les étudiants, afin de réduire les déplacements, les fichiers, le stockage..

De plus, nous souhaitons favoriser la mise en relation d’acteurs locaux, afin de renouer le lien direct et mettre en avant le circuit court.


      </p>


       </div>
  </div>
  <h2 id="accordion-collapse-heading-2" class=" text-xl sm:text-2xl md:text-3xl xl:text-4xl font-bold">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span style="  font-family: 'proxima_nova_ltsemibold';">Impacts sociétaux </span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-800 text-md md:text-xl text-justify  dark:text-gray-400">

        L’aspect social et sociétal est au cœur du projet WIM. Nous avons pour ambition de devenir entreprise à mission, dans laquelle nous ferons appel à des personnes en situation de handicap pour développer le projet. Nous favorisons la mixité dans l’entreprise, plus de 65% des parties prenantes sont des femmes.

Notre premier objectif est de renouer le lien entre l’apprenant et l’apprentissage, en favorisant le contact humain. Nous souhaitons avant tout être de fervents défenseurs de l’égalité des chances et permettre à tous les enfants, quel que soit leur budget, leurs origines, leurs langues, leurs niveaux, d’apprendre au même titre que les autres, grâce à un outil simple d'utilisation, accessible financièrement et adapté à leurs besoins. Nous désirons également avoir un impact sur la créativité des enfants en créant des expériences personnalisées qui les représentent, incitant ainsi à l’apprentissage. Nous voulons lutter contre le décrochage scolaire d’une part, et d’autre part, donner de nouveaux moyens aux enseignants pour transmettre des messages à travers leurs cours. Pour cela, nous mettons en avant un apprentissage autour de l’art, celui de la musique, très prisé chez les jeunes, offrant ainsi l'accès à un milieu initialement très fermé.

<br/>
Notre technologie vise à adapter sa solution aux enfants souffrant de troubles Dys. WIM est une startup visant à réduire les inégalités en soutenant l’accès aux révisions et en donnant accès à de nouvelles méthodes de révision, notamment aux populations les plus défavorisées. Nous travaillons en collaboration avec des associations locales. Nous croyons en l'égalité des chances dans l'éducation et nous nous engageons à avoir un impact positif sur la société. C'est pourquoi, dans l'embauche des collaborateurs et dans le recrutement des artistes, nous nous attachons à offrir des opportunités à tous, sans aucune distinction.

La démarche RSE est au cœur du projet de WIM. Notre mission est de réduire les inégalités en soutenant l’accès aux révisions et en donnant l’accès à de nouvelles méthodes de révisions, notamment aux populations les plus défavorisées. L'autre démarche RSE est la sollicitation de grands groupes pour financer les ATELIERS et les abonnements WIM en faveur des associations et structures de soutien scolaire dans les quartiers prioritaires de la ville.
<br/>
        <br/>

Grâce à WIM, les artistes sont rémunérés et travaillent sur un projet d'intérêt général. Nous envisageons aussi de louer à prix avantageux le studio d'enregistrement aux artistes avec lesquels nous collaborons et qui, pour la plupart, n'ont pas les moyens de créer leur projet d'album ou d'EP.
      </p> </div>
  </div>



</div>

</div>


  </section>















</div>




{% endblock content %}