{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div class="flex flex-col w-full justify-between items-center">


  <section id="section_home" class="max-w-screen   min-h-[200px] md:min-h-[75px] overflow-x-hidden ">


  </section>


    <section class="min-h-[200px] mx-auto  flex items-center justify-center  w-full px-10 ">

        <div class="w-2/3 border-2 hover:ring shadow-md h-full rounded-xl mx-auto py-5 px-2">
             <h1 style=" font-family: 'proxima_nova_altbold';" class="text-4xl md:text-5xl text-center xl:text-6xl 2xl:text-7xl font-bold font-bold z-10   text-center mb-2 md:mb-3">Mentions Légales</h1>
                <div class="py-3  px-4 md:px-10 md:py-8">
                     <p class="text-sm">Conformément à la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, workinmusic.org a fait l'objet d'une déclaration auprès de la CNIL sous le numéro 2895173.</p>

  <p class="text-sm">Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en nous contactant via <a href="mailto:wimstartup@gmail.com" class="text-blue-500 underline">wimstartup@gmail.com</a> ou par courrier postal envoyé à l’adresse suivante :</p>

  <address class="not-italic text-sm">
    WORK IN MUSIC<br>
    60 Place Django Reinhardt<br>
    34080 Montpellier
  </address>

  <h2 class="text-lg font-semibold">Utilisation de cookies</h2>
  <p class="text-sm">Le site internet workinmusic.org a recours à l'utilisation de cookies afin de reconnaître l’utilisateur lors de sa connexion sur son site. L'utilisateur peut à tout moment désactiver l'utilisation de ces cookies en sélectionnant les paramètres appropriés dans son navigateur.</p>

  <h2 class="text-lg font-semibold">Edition du site</h2>
  <p class="text-sm">workinmusic.org est un site édité par la société WORK IN MUSIC.</p>

  <p class="text-sm">WORK IN MUSIC est une SAS au capital de 1000 Euros, dont le siège social est à 60 Place Django Reinhardt (34080) Montpellier, immatriculée au registre du commerce et des sociétés de Montpellier sous le numéro 91772554100010 (numéro de TVA intracommunautaire FR298612543).</p>

  <p class="text-sm">Directeur de la publication : Monsieur Johanes Adedemi.</p>

  <h2 class="text-lg font-semibold">Propriété Intellectuelle</h2>
  <p class="text-sm">L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques. La reproduction, adaptation et/ou traduction de tout ou partie de ce site sur un support quel qu'il soit, est formellement interdite sauf autorisation expresse du Directeur de la publication.</p>

  <h2 class="text-lg font-semibold">Modification du site</h2>
  <p class="text-sm">L'équipe éditoriale se réserve le droit de modifier ou de corriger le contenu de ce site et de ces mentions légales à tout moment et ceci sans préavis.</p>

  <h2 class="text-lg font-semibold">Hébergeur</h2>
  <p class="text-sm">Le site workinmusic.org est hébergé par la société OVH France.</p>

  <address class="not-italic text-sm">
    OVH France<br>
    2 RUE KELLERMANN<br>
    59000 ROUBAIX
  </address>
                </div>

        </div>

    </section>




</div>




{% endblock content %}