{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div>




<div class="flex flex-col ">





  <section class="relative  py-10 py-10 min-h-screen h-screen">
        <div class="flex items-center text-white">

            <div class="container">
                <div class="absolute inset-0 -z-10">
                    <!-- Swiper -->
                    <div id="testi_3" class="swiper bg-cover bg-center">
                        <div class="swiper-wrapper relative">
                            <div class="swiper-slide">
                                <img src="{% static 'images/uno.png' %}" class="minn-h-screen object-cover  w-full" alt="">
                                <div class="absolute inset-0 bg-gray-950/70"></div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'images/dos.png' %}" class="minn-h-screen  object-cover w-full" alt="">
                                <div class="absolute inset-0 bg-gray-950/70"></div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'images/tres.png' %}" class="minn-h-screen object-cover  w-full" alt="">
                                <div class="absolute inset-0 bg-gray-950/70"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative max-w-screen  min-h-[50%] px-10 pt-40">
                    <h1 class="2xl:text-[55px]/tight md:text-5xl/tight text-4xl/tight font-medium tracking-wide mb-8">Our Best Collections For You
                        <span class="relative lg:font-semibold lg:after:content[''] lg:after:w-[140px] lg:after:h-[1px] lg:after:bg-white/75 lg:after:absolute lg:after:top-2/3 lg:after:left-[25px]"></span>
                    </h1>

                    <div class="mb-8">
                        <div class="flex items-center gap-5">

                            <div class="flex items-center gap-2">
                                <i class="ri-star-fill text-lg text-yellow-300"></i>
                                <i class="ri-star-fill text-lg text-yellow-300"></i>
                                <i class="ri-star-fill text-lg text-yellow-300"></i>
                                <i class="ri-star-fill text-lg text-yellow-300"></i>
                                <i class="ri-star-half-line text-lg text-yellow-300"></i>
                            </div>

                            <span class="text-xl">4.3 (400)</span>

                        </div>
                    </div>

                    <p class="text-base/relaxed text-white/60">These cases are perfectly simple and easy to distinguish. In a free hour when our power of choice is untrammelled and when nothing prevents our being able to do what we like best every pleasure.</p>
                </div>

                <div class="2xl:pt-64 pt-56 mt-6 px-10">
                    <div class="pagination px-10"></div>
                </div>
            </div><!-- Container End -->
        </div>
    </section>





















</div>

























</div>




{% endblock content %}

{% block js%}


{% endblock js %}